/* CHARACTER INFO PAGE SPECIFIC */
.character-info-box {
  background-color: whitesmoke;
  color: #008080;
  border: 5px solid #008080;
}
.character-picture {
  border: 5px solid #008080;
  border-radius: 15px 50px;
}
/* STAT SPECIFIC */
.stat-block-box {
  background-color: #bfb699;
  border: 5px solid #008080;
}
.stat-block-info {
  background-color: whitesmoke;
  color: #008080;
  border: 2px solid #008080;
  width: 90%;
  text-align: center;
  margin: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* DICE BAR SPECIFIC */
.dice-block {
  background-color: whitesmoke;
  border: 5px solid #008080;
  border-radius: 25%;
  color: #008080;
  aspect-ratio: 1 / 1;
  width: 75%;
  margin: 5px;
}
.dice-box {
  margin: auto;
  width: 50%;
}
table {
  text-align: left;
}
