/* CHARACTER INFO PAGE SPECIFIC */
.character-info-box {
  background-color: whitesmoke;
  color: #008080;
  border: 5px solid #008080;
}
.character-picture {
  border: 5px solid #008080;
  border-radius: 15px 50px;
}
.character-info-input {
  background-color: transparent;
  color: #008080;
  text-align: center;
  border: none;
  width: 100%;
  font-size: larger;
}
label {
  font-size: medium;
}
input:focus {
  outline: none;
}
/* STAT SPECIFIC */
.stat-block-box {
  background-color: #bfb699;
  border: 5px solid #008080;
}
.stat-block-info {
  background-color: whitesmoke;
  color: #008080;
  border: 2px solid #008080;
  width: 90%;
  text-align: center;
  margin: 5px;
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* optional: removes leftover spacing */
}

/* DICE BAR SPECIFIC */
.dice-block {
  background-color: whitesmoke;
  border: 5px solid #008080;
  border-radius: 25%;
  color: #008080;
  aspect-ratio: 1 / 1;
  width: 75%;
  margin: 5px;
}
.dice-box {
  margin: auto;
  width: 50%;
}
/* CONSMABLE TABLE SPECIFIC */
.consumableCount {
  background-color: transparent;
  text-align: center;
  color: #008080;
  border: none;
  width: 100%;
  font-size: larger;
}
.addConsumableButton {
  background-color: whitesmoke;
  border: 5px solid #008080;
  color: #008080;
  margin: 5px;
  width: 25%;
}
.modal-header {
  background-color: #8c373e;
  color: whitesmoke;
  padding: 5%;
}
.modal-body {
  background-color: #bfb699;
  font-size: larger;
}
.modal-footer {
  background-color: #8c373e;
  color: whitesmoke;
  padding: 5%;
}
.close-modal-btn {
  background-color: whitesmoke;
  border: 5px solid #008080;
  color: #8c373e;
  margin: 5px;
  width: 25%;
}

.new-consumable-input {
  background-color: whitesmoke;
  color: #008080;
  text-align: center;
  border: none;
  width: 100%;
  font-size: larger;
}
table {
  text-align: left;
  background-color: whitesmoke;
  border: 5px solid #008080;
  color: #008080;
}
th {
  border: 5px solid #008080;
}
