/* GENERAL SITE */
body {
  background-color: #40202c;
}
.header-primary {
  background-color: #8c373e;
}
.header-secondary {
  background-color: #bfb699;
}
.accent {
  color: #008080;
}
.col {
  text-align: center;
  justify-content: center;
}
.row {
  text-align: center;
  justify-content: center;
}
.info-box {
  background-color: #8c373e;
  border-style: solid;
  border-color: #bfb699;
  border-width: 15px;
}
/* CHARACTER INFO PAGE SPECIFIC */
.character-info-box {
  background-color: whitesmoke;
  color: #008080;
  border-style: solid;
  border-color: #bfb699;
  border-width: 5px;
}
.character-picture {
  border-style: solid;
  border-color: #bfb699;
  border-width: 5px;
  border-radius: 15px 50px;
}
/* STAT SPECIFIC */
.stat-block-box {
  background-color: #bfb699;
  border-style: solid;
  border-color: #008080;
  border-width: 5px;
}
.stat-block-info {
  background-color: whitesmoke;
  color: #008080;
}
/* DICE BAR SPECIFIC */
.dice-block {
  background-color: #bfb699;
  border-style: solid;
  border-color: #008080;
  color: #008080;
  border-width: 5px;
  aspect-ratio: 1 / 1;
  width: 75%;
  margin: 5px;
}
.dice-box{
  margin: auto;
  width: 50%;
}
table {
  text-align: left;
}

/* CHARACTER CREATOR PAGE SPECIFIC */
.input-selector{
  background-color: whitesmoke;
  color: #008080;
  border-style: solid;
  border-color: #bfb699;
  border-wid
}